

body{
    margin: 0; 
    background-color: #6061E5;
    
}



header{
    background-color: #f9f6f6;
    padding: 20px;
    box-shadow: 0 1px 1px #c9c9c9;
    height: 70px;
    
}


.titulo{
    text-align: center;
    font-size: 50px;
    line-height: 0px;
}

.tituloaprese{
    font-size: 30px;
}
   
.textoapre{
    
    background-color: #f9f6f6;
    box-shadow: 0 1px 2px #c9c9c9, 1px 0 2px #c9c9c9, 0 -1px 2px #c9c9c9, -1px 0 2px #c9c9c9;
    height: 500px;
    width: 85%;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 100px;
}

.top{
    
    height: 50px;
    text-align: center;
    display: flex;
    position: absolute;
    left: 70px;
    
}

.bloco1{
    position: absolute;
    left: 100px;
    top: 100px;   
    width: 400px;
    text-align: center;

   
}

.bloco2{
    position: absolute;
    left: 550px;
    top: 100px;   
    width: 400px;
    text-align: center;
}

.bloco3{
    position: absolute;
    left: 1000px;
    top: 100px;  
    width: 400px;
    text-align: center;
}

.imagemappini{
    
    background-color: #895DFC;
    box-shadow: 0 1px 2px #c9c9c9, 1px 0 2px #c9c9c9, 0 -1px 2px #c9c9c9, -1px 0 2px #c9c9c9;
    height: 500px;
    width: 700px;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 150px;
    right: 420px;
    
}    

.caixaini{
    background: linear-gradient(to right, #000000, #895DFC);
    height: 500px;
    width: 600px;
    border-radius: 50px;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
}

.imgini{
    height: 400px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;  
    border-radius: 52px;
}

.textoini{
    position: absolute;
    right: 50px;
    left: 40%;
    top: 15%;
    z-index: 2;
}

.tini{
    font-size: 20px;
    color: #c9c9c9;
}


.imagemappmeio{
    background-color: #895DFC;
    box-shadow: 0 1px 2px #c9c9c9, 1px 0 2px #c9c9c9, 0 -1px 2px #c9c9c9, -1px 0 2px #c9c9c9;
    height: 500px;
    width: 700px;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    position: relative;
    bottom: 350px;
    left: 420px;
}

.caixameio{
    background: linear-gradient(to right, #000000, #895DFC);
    height: 500px;
    width: 450px;
    border-radius: 50px;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
}

.imgmeio{
    height: 400px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 52px;
}

.textomeio{
    position: absolute;
    width: 400px;
    left: 40%;
    top: 10%;
    z-index: 2;
}

.tmeio{
    font-size: 20px;
    color: #c9c9c9;
}

.caixacomentario{
    background-color: #f9f6f6;
    box-shadow: 0 1px 2px #c9c9c9, 1px 0 2px #c9c9c9, 0 -1px 2px #c9c9c9, -1px 0 2px #c9c9c9;
    height: 500px;
    width: 1540px;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    position: relative;
    bottom: 250px;   
}

.comentario0{
    position: relative;
    top: 20px;
    left: 30%;
    height: 150px;
}

.titulocomentario{
    font-size: 60px;
}

.comentario1{
    background-color: #c9c9c9;
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 1px 2px #c9c9c9, 1px 0 2px #c9c9c9, 0 -1px 2px #c9c9c9, -1px 0 2px #c9c9c9;
    top: 50%;
    left: 100px;
    width: 400px;
    height: 200px;
}

.goat{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    position: relative;
    left: 10px;
    top: 5px;
}

.textgoat{
    position: relative;
    left: 15px;
    bottom: 10px;
    font-size: 20px;
}

.caixagoat{
    font-size: 24px;
    position: relative;
    width: 150px;
    left: 210px;
    bottom: 190px;
}

.comentario2{
    background-color: #c9c9c9;
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 1px 2px #c9c9c9, 1px 0 2px #c9c9c9, 0 -1px 2px #c9c9c9, -1px 0 2px #c9c9c9;
    top: 50%;
    left: 570px;
    width: 400px;
    height: 200px;
}

.gem{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    position: relative;
    left: 10px;
    top: 5px;     
}

.textgem{
    position: relative;
    left: 50px;
    bottom: 10px;
    font-size: 20px;
}

.caixagem{
    font-size: 24px;
    position: relative;
    width: 150px;
    left: 210px;
    bottom: 190px;
}


.comentario3{
    background-color: #c9c9c9;
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 1px 2px #c9c9c9, 1px 0 2px #c9c9c9, 0 -1px 2px #c9c9c9, -1px 0 2px #c9c9c9;
    top: 50%;
    left: 1050px;
    width: 400px;
    height: 200px;
}

.mick{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    position: relative;
    left: 10px;
    top: 5px; 
}

.textmick{
    position: relative;
    left: 35px;
    bottom: 10px;
    font-size: 20px;
}

.caixamick{
    font-size: 24px;
    position: relative;
    width: 150px;
    left: 210px;
    bottom: 200px;
}